footer {
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 15px 10px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  font-weight: bold;
}
